$graph-link-color: #999;

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.node {
  opacity: 0.5;
}

.node:hover {
  opacity: 1;
}

.link {
  stroke: $graph-link-color;
  stroke-opacity: 0.3;
}

.controls {
  position: absolute;
  top: 15px;
  right: 15px;

  color: white;
}